.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navBar{
  display:flex;
  width: 100%;
  justify-content: center;
}
a{
  padding: 2% 0% 3% 3%;
}
.container{
  display:flex;
  align-content: space-between;
}
.wrapper {
  display:flex;
  align-content: center;
}
.InfoBlock{
  padding-left: 8%;
  padding-right: 8%;
}
.sectionTitle{
  padding-left: 4%;
}
.Backyard, .HouseRules, .Kitchen, .LivingRoom, .Office{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
