.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navBar{
  display:flex;
  width: 100%;
  justify-content: center;
  margin-top: 5%;
}

.Backyard, .HouseRules, .Kitchen, .LivingRoom, .Sitting{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color:#E6F2B0;
}
.navBar > a{
  padding: 1% 1% 1% 1%;
  background-color: #34410E;
  margin: 2% 0% 3% 3%;
  color:#EAF5D7;
  text-decoration: none;
  border-radius: 10px;
}
.container{
  display:flex;
  align-content: space-between;
}
.wholePage{
    background-color: #7C8935;
}
.wrapper {
  display:flex;
  align-content: center;
  background-color:#34410E;
  margin: 10%;

}
.InfoBlock{
  padding-left: 8%;
  padding-right: 8%;
}
.sectionTitle{
  padding-left: 4%;
}
.pageTitle{
  font-family: 'Kavivanar', cursive;
  color:#34410E;
}
.roomImage{
  width: 50%;
  height:50%;
  background-color: #34410E;
  padding: 2%;
}
